---
layout: text
title: Branding
include_in_header: false
include_in_footer: true
order: 5
---

<h1>Branding</h1>

<p>Welcome to {{ site.application_name_short }}'s brand resources page. Your one-stop shop for all {{ site.application_name_short }} assets.</p>

<!-- LOGO -->
<a href="#logo" class="anchor-hover">
    <h2 id="logo">
        {% include icon.html name='link' %}
        Logo
    </h2>
</a>

<p>The logo (red shield) is one of our most globally recognized {{ site.application_name_short }} assets. It’s used to represent the service {{ site.application_name_full }}.</p>

<a href="https://github.com/raivo-otp/ios-application/raw/master/Assets/app-icon.png" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='download' %}
    <span class="text">Download PNG (processed file)</span>
</a>

<a href="https://github.com/raivo-otp/ios-application/raw/master/Assets/app-icon.psd" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='download' %}
    <span class="text">Download PSD (design file)</span>
</a>

<br>

<!-- Screenshots (iOS) -->
<a href="#screenshots-ios" class="anchor-hover">
    <h2 id="screenshots-ios">
        {% include icon.html name='link' %}
        Screenshots (iOS)
    </h2>
</a>

<p>The simulator screenshots show the main features of the {{ site.application_name_short }} for iOS (without an iPhone border around them).</p>
	
<a href="https://github.com/raivo-otp/ios-application/tree/master/Assets/simulator-screenshots/6.5-inch" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='download' %}
    <span class="text">Download Apple iPhone 11 Pro Max (6.5 inch) screenshots</span>
</a>

<a href="https://github.com/raivo-otp/ios-application/tree/master/Assets/simulator-screenshots/5.5-inch" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='download' %}
    <span class="text">Download Apple iPhone 8 Plus (5.5 inch) screenshots</span>
</a>

<a href="https://github.com/raivo-otp/ios-application/tree/master/Assets/simulator-screenshots/12.9-inch" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='download' %}
    <span class="text">Download Apple iPad Pro (12.9 inch) screenshots</span>
</a>

<br>

<!-- Screencaptures (iOS) -->
<a href="#screencaptures-ios" class="anchor-hover">
    <h2 id="screencaptures-ios">
        {% include icon.html name='link' %}
        Screencaptures (iOS)
    </h2>
</a>

<p>The simulator screencaptures are video's that show the main features of the {{ site.application_name_short }} for iOS.</p>
	
<a href="https://github.com/raivo-otp/ios-application/raw/master/Assets/simulator-screencaptures/previews-6.5-inch-0.mov" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='download' %}
    <span class="text">Download Apple iPhone 11 Pro Max (6.5 inch) screencapture</span>
</a>

<a href="https://github.com/raivo-otp/ios-application/raw/master/Assets/simulator-screencaptures/previews-5.5-inch-0.mov" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='download' %}
    <span class="text">Download Apple iPhone 8 Plus (5.5 inch) screencapture</span>
</a>

<br>

<!-- App Store Previews (iOS) -->
<a href="#app-store-previews-ios" class="anchor-hover">
    <h2 id="app-store-previews-ios">
        {% include icon.html name='link' %}
        App Store Previews (iOS)
    </h2>
</a>

<p>The {{ site.application_name_short }} App Store Previews are App Store marketing images that show the main features of {{ site.application_name_short }} for iOS. The mockup files can be loaded into <a href="https://studio.app-mockup.com/" target="_blank" rel="noopener nofollow">AppMockup Studio</a>.</p>

<a href="https://github.com/raivo-otp/ios-application/tree/master/Assets/appstore-previews/Apple%20iPhone%2011%20Pro%20Max%20(1242x2688)" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='download' %}
    <span class="text">Download Apple iPhone 11 Pro Max (6.5 inch) processed App Store Previews</span>
</a>

<a href="https://github.com/raivo-otp/ios-application/tree/master/Assets/appstore-previews/Apple%20iPhone%208%20Plus%20(1242x2208)" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='download' %}
    <span class="text">Download Apple iPhone 8 Plus (5.5 inch) processed App Store Previews</span>
</a>

<a href="https://github.com/raivo-otp/ios-application/tree/master/Assets/appstore-previews/Apple%20iPad%20Pro%2013%20Inch%20(2048x2732)" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='download' %}
    <span class="text">Download Apple iPad Pro (12.9 inch) processed App Store Previews</span>
</a>

<a href="https://github.com/raivo-otp/ios-application/raw/master/Assets/appstore-previews/Raivo-iPhone.mockup" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='download' %}
    <span class="text">Download Apple iPhone mockup file</span>
</a>

<a href="https://github.com/raivo-otp/ios-application/raw/master/Assets/appstore-previews/Raivo-iPad.mockup" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='download' %}
    <span class="text">Download Apple iPad mockup file</span>
</a>
