---
layout: text
title: Donate
include_in_header: true
include_in_footer: true
order: 3
---

<h1>Donate</h1>

<p>I make the majority of my software available to the public and make sure that it is <strong>secure</strong> and <strong>ad-free</strong>. One of my favorite projects that I've published is {{ site.application_name_full }}. It's available for free on the Apple App Store for iOS and MacOS.</p>

<p>Because it is free and privacy friendly, more and more people are using {{ site.application_name_full }}. Unfortunately for me, the costs are therefore slowly increasing. In addition to the time I spend developing {{ site.application_name_full }}, I spend money on an Apple Developer license, domain names and hosting for the issuer icons and Apple Push Notification proxy server.</p>

<p>If you or your company use {{ site.application_name_full }} or like what I’m doing, please consider sponsoring me so I can continue maintaining and evolving all my projects and new ones.</p>

<p>Thank you for your support! 👨‍💻</p>

<a href="https://github.com/sponsors/tijme" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='dollar-sign' %}
    <span class="text">Become a monthly sponsor on GitHub</span>
</a>

<a href="https://www.paypal.com/paypalme/tijmegommers" class="icon-link" target="_blank" rel="noopener nofollow">
    {% include icon.html name='dollar-sign' %}
    <span class="text">Make a one-time donation via PayPal</span>
</a>
