<div class="features">
    {% for feature in site.features %}
        {% if feature.title %}
            <div class="feature">
                <div>
                    {% include icon.html name=feature.icon %}
                </div>
                <div class="featureText">
                    <h3>
                        {{ feature.title }}
                    </h3>
                    <p>
                        {{ feature.description }}
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>