<footer>
	<div class="footerLinks">
		{% assign sorted_pages = site.pages | sort:"order" %}
		{% for page in sorted_pages %}
			{% if page.include_in_footer == true %}
				<a href="{{ page.url | absolute_url }}" target="_self">{{ page.title }}</a>
			{% endif %}
		{% endfor %}
	</div>
	<p class="footerText">This website is a labor of love by Raivo's <a href="{{ site.github_marketing_website_link }}#credits" target="_blank" rel="noopener nofollow">community</a> on Github.<br><small>Copyright © 2022 Tijme Gommers. All rights reserved.</small></p>
	<div class="footerIcons">
		{% if site.social_application_twitter %}
			<div class="padding">
				<a href="https://twitter.com/{{ site.social_application_twitter }}" target="_blank" rel="noopener nofollow">
					{% include icon.html name='twitter' %}
				</a>
			</div>
		{% endif %}
		{% if site.social_application_github %}
			<div class="padding">
				<a href="https://github.com/{{ site.social_application_github }}" target="_blank" rel="noopener nofollow">
					{% include icon.html name='github' %}
				</a>
			</div>
		{% endif %}
	</div>
</footer>
