<!-- Functional -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- SEO -->
<title>{{ site.app_name }}. {{ site.app_subtitle }}.</title>
<meta name="description" content="{{ site.app_description }}">
<meta name="author" content="{{ site.author }} and {{ site.app_name_short }} contributors">
<link rel="shortcut icon" href="{{ site.app_icon | absolute_url }}">
<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">

<!-- Template -->
<link rel="stylesheet" href="{{ '/css/template.css' | absolute_url }}">