<!-- Functional -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- SEO -->
<title>{{ site.application_name_full }}. {{ site.application_subtitle }}.</title>
<meta name="description" content="{{ site.application_description }}">
<meta name="author" content="{{ site.social_author_fullname }} and {{ site.application_name_short }} contributors">
<link rel="shortcut icon" href="{{ site.application_app_icon_link | absolute_url }}">
<meta name="apple-itunes-app" content="app-id={{ site.application_apple_app_store_ios_id }}">

<!-- Template -->
<link rel="stylesheet" href="{{ '/css/template.css' | absolute_url }}">