<header>
	<div class="logo">
		<div class="appIconShadow">
			{% if page.url != '/' %}
				<a href="{{ '/' | absolute_url }}" target="_self">
					<img class="headerIcon" src="{{ site.application_app_icon_link | absolute_url }}">
				</a>
			{% else %}
				<img class="headerIcon" src="{{ site.application_app_icon_link | absolute_url }}">
			{% endif %}
			<div class="divider"></div>
		</div>
		<p class="headerName">{{ site.application_name_full }}</p>
	</div>
	<nav class="scroll">
		<ul>
			{% assign sorted_pages = site.pages | sort:"order" %}
			{% for page in sorted_pages %}
				{% if page.include_in_header == true %}
					<li>
						<a href="{{ page.url | absolute_url }}" target="_self">{{ page.title }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
</header>

